/* css simplezinho*/

form{
    position: relative;/*pode mudar isso aqui, só to adicionando pra nao ficar vazio*/
}

h1{
    color:hsl(0, 100%, 89%) ;
}
h3{
    color: hsl(0, 100%, 89%);
    margin-right: 330px;
}

ul{
    margin-right: 330px;
    list-style: none;
    color: #ffe7e7;
}

ul li:before {
    content: "→";
    padding: 5px;
}

label{
    color: #ffe7e7;
}

p{
    color: #ffe7e7;
}

#add{
    font-weight: bold;
}

#remover{
    font-weight: bold;
}

body{
    background-color: rgb(131, 46, 50);
    text-align: center;
    margin-top: 100px;
}

img{
    height: 230px;
    width: 260px;
    border-radius: 40px;
    align-items: center;
    border: solid 2px;
    color:rgb(46, 38, 32)
}
